* {
  margin: 0;
  padding: 0;
}

body{
  background: coral;
}

.wrapper {
  /* display: flex;
  flex-direction: row; */
}

.post{
  background: white;
  width: 40%;
  margin: 0 auto;
  border-top: brown solid 20px;
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p{
  margin: 0 auto;
}

.head{
  height: 130px;
  background: brown;

}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
  margin-left: 335px;
  padding: 20px;
  font-size: 50px;
}

/*Footer ------------*/

footer{
  height: 130px;
  background:  brown;
  position: fixed;
  top: 400px;
}
  

/*---Redit data --------- */

.title {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  
}

img {
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.learn-button{
  background: brown;
  width: 150px;
  height: 40px;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: 'Lobster', cursive;
  margin: 20px;
  position: relative;
  left: 270px;
}

.learn-button:hover{
background: coral
}